.form__item {
  display: inline-block;
  margin: 0;
  padding: 8px;
  border: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  transition: box-shadow .4s ease-in;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__item:focus {
  outline-color: #2f80ed;
}

.form__item:hover {
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.form__item::-webkit-input-placeholder {
  font-size: 16px;
  font-family: inherit;
  color: #bcbcc4;
}

.form__item::-moz-placeholder {
  font-size: 16px;
  font-family: inherit;
  color: #bcbcc4;
}

.form__item.form__item::-ms-input-placeholder {
  font-size: 16px;
  font-family: inherit;
  color: #bcbcc4;
}

.form__item::placeholder {
  font-size: 16px;
  font-family: inherit;
  color: #bcbcc4;
}
