@font-face {
  src: url("../fonts/TTCommons-Regular.woff") format("woff"),
       url("../fonts/TTCommons-Regular.ttf") format("truetype"),
       url("../fonts/TTCommons-Regular.eot") format("eot");
  font-family: 'Commons';
  font-weight: normal;
}

@font-face {
  src: url("../fonts/TTCommons-DemiBold.woff") format("woff"),
       url("../fonts/TTCommons-DemiBold.ttf") format("truetype"),
       url("../fonts/TTCommons-DemiBold.eot") format("eot");
  font-family: 'Commons';
  font-weight: bold;
}
